* {
    margin: 0;
    box-sizing: border-box;
    }
    
    html, body {
    height: 100%;
    padding: 0;
    /* background-color: #232222; */
    font-family: "Della Respira", serif;
    font-weight: 400;
    font-style: normal;
    }

    /* Loader Styles */
#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid rgb(167, 113, 76);
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .spinner::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #c6960f;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
    
    header{
        background: transparent;
        width: 100%;
        z-index: 1000;
        /* position: fixed; */
        
    }
    
    .infoblock{
        background-color: #000000;
        /* border-radius: 15px; */
        color: #ffffff;
        text-align: start;
        padding: 10px;
        height: auto;
    }
    .container{
        display: flex;
        float: left;
        flex-direction: row;
    }
    .profilepic{
        width: 40%;
        height: 80%;
        padding-right: 10px;
        border-radius: 15px;
        margin-right: 10%;
        
    }
    .myinfo{
        text-align: start;
    }
    h1 {
    text-shadow: 2px 2px 5px rgb(167, 113, 76);
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-size: 45px;
    font-style: normal;
    text-align: center;
    margin-bottom: 10px;
    }
    
    
    .contactLinks{
        text-decoration: none;
        color: #c6960f;
    }
    .contactLinks:hover{
        text-shadow: 2px 2px 5px rgb(167, 113, 76);
    }
    .snapshot{
        width: 80%;
        height: 60%;
        border-radius: 10px;
    }
    .Appsnapshot{
        width: 80%;
        height: 60%;
        border-radius: 10px;
    }
    
    
    /* added codes */
    
    .parallax1{
          /* The image used */
      background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),url("pics/bg.jpg");
    
      /* Full height */
      height: 100%; 
      margin: 0;
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .icontopleft {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      margin-left: 10px;
    }
    
    .navlist{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }

    .navlist.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute; /* Positioned relative to the header */
        top: 100%; /* Appears below the header */
        right: 0;
        width: 50%; /* Full width of the header */
        background: #000000;
        padding: 10px 0;
        list-style-type: none;
        z-index: 1000; /* Ensure it appears above other content */
    }
    
    /* Style the navigation bar links */
    .navlist li a {
        color: white;
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-top: 5px;
    
    }
    /* Change color on hover */
    .navlist li a:hover {
        /* background-color: rgb(55, 39, 28); */
        color: #ffffff;
        border-radius: 15px;
        text-shadow: 2px 2px 5px rgb(167, 113, 76);
        font-family: "Black Ops One", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    }

    .hamburger{
        display: none;
        cursor: pointer;
        font-size: 40px;
        margin-right: 10px;
        color: #ffffff;
    }
    
    .hamburger:hover{
        color: #ffffff;
        border-radius: 15px;
        text-shadow: 2px 2px 5px rgb(167, 113, 76);
    }

    .introstyling{
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        margin-left: 10px;
        height: 100%;
    }

    .intro{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .intro p{
        color: #ffffff;
        border-radius: 15px;
        text-shadow: 2px 2px 5px rgb(167, 113, 76);
        font-family: "Black Ops One", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
    }

    .highlight{
        color: rgb(213, 186, 116);
        border-radius: 15px;
        text-shadow: 2px 2px 5px rgb(167, 113, 76);
        font-family: "Black Ops One", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 40px; 
    }

    .aboutinfo{
        font-size: 20px;
        margin-bottom: 20px; 
    }
    .logopic{
        /* display: flex; */
        /* justify-content: space-evenly; */
        text-align: center;
        margin-bottom: 30px; 
    }
    .logo{
        left: 0;
        top: 1px;
        width: 60px;
        height: 60px;
        margin-right: 25px;
        margin-bottom: 20px;
        transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
    }
    .logo1{
        left: 0;
        top: 1px;
        width: 66px;
        height: 66px;
        margin-right: 25px;
        margin-bottom: 20px;
        transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
    }
    .logo:hover, .logo1:hover {
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7); /* White shadow */
    }
    .proj_list{
        text-align: center;
    }
    .proj_item{
        margin-bottom: 20px;
        height: auto;
    }
    .desc{
        font-size: 20px;
        padding-bottom: 10px;
    }

    h2 {
        text-shadow: 2px 2px 5px rgb(167, 113, 76);
        font-family: "Black Ops One", system-ui;
        /* font-weight: 400; */
        font-style: normal;
        text-align: center;
        /* margin-bottom: 20px; */
    }

    /*For Responsivity*/
    @media screen  and (max-width: 768px){
        .navlist {
            display: none;
            flex-direction: column;
            width: 100%;
        }
        .navlist.active{
            display: flex;
            flex-direction: column;
        }
        /* .navlist ul {
            flex-direction: column;
        } */
    
        .navlist li {
            margin: 10px 0;
        }
    
        .hamburger {
            display: block;
            margin-right: 25px;
        }

        header{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: transparent;
            
        }

        .introstyling{
            display: flex;
            flex-direction: column;
        }

        .profilepic{
            width: 90%;
            height: 60%;
            padding-right: 10px;
            border-radius: 15px;
            margin-right: 5%; 
            margin-left: 5%;
        }

        .intro{
            margin-right: 5%; 
            margin-left: 5%;
            display: block;
            margin-top: 10px; 
        }

        .intro p{
            font-size: 30px;
        }

        .highlight{
            font-size: 30px; 
        }
        .parallax1{
            height: auto;
        }
    }



        